/* View 2 General */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.subtitle {
  text-align: center;
  color: #444;
  font-size: 21px;
  margin-top: 42px;
  margin-bottom: 42px;
  font-weight: 400;
}

/* View 2 Buttons */
.goback {
  border: none;
  background: none;
  position: fixed;
  left: 5%;
  top: 6%;
}

.sideButton img {
  cursor: pointer;
  width: 35px;
}

/* View 2 treediagram */
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: #7f7f7f;
  stroke-width: 1.5px;
}

.line {
  stroke-dasharray: 5, 5;
  stroke: #f82520;
  stroke-opacity: 0.5;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  opacity: 1;
}

#link {
  width: 100px;
  cursor: pointer;
  float: left;
  text-align: right;
}

line {
  stroke: #000;
  stroke-width: 1.px;
}

text {
  font-size: 12pt;
}

.titles {
  font-size: 14px;
}

.legendText {
  color: #6B6B6B;
}

.explanation {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

path.chord {
  fill-opacity: .80;
}

a {
  text-decoration: none;
  color: #6B6B6B;
}

a:hover{
  color: #2f2f2f
}
